[submodule "Stuylib/src/stuylib/drive/prototype/fake_wpilib"]
	path = Stuylib/src/stuylib/drive/prototype/fake_wpilib
	url = c:/Documents and Settings/Blake.EEE.000/My Documents/Dropbox/Desktop/Robotics/frc/Software/VIRSYSPy/
